@font-face {
  font-family: "Oswald";
  font-weight: 600;
  src: url(/font/Oswald.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  height: 115px;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(0, 0, 0);
}
header .header-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-content .logo {
  height: 44px;
  margin-left: 10px;
}
header .header-content .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-content .navbar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
header .header-content .navbar .nav-logo .beta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 100px;
  height: 29px;
  color: white;
  padding: 5px;
  border: 1px #FFF solid;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  cursor: progress;
}
header .header-content .navbar .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 390px;
  margin: 0;
}
header .header-content .navbar .header-links .contact {
  width: 100px;
  height: 28px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-content .navbar .header-links .contact:hover {
  border-bottom: solid 2px red;
  -webkit-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 0.6s, 0.5s;
          transition-duration: 0.6s, 0.5s;
}
header .header-content .navbar .header-links .search {
  width: 90px;
  height: 28px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-content .navbar .header-links .search .search-text {
  padding-right: 10px;
}
header .header-content .navbar .header-links .search:hover {
  border-bottom: solid 2px red;
  -webkit-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 0.6s, 0.5s;
          transition-duration: 0.6s, 0.5s;
}
header .header-content .navbar .header-links .div-link {
  width: 54px;
  height: 28px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-content .navbar .header-links .div-link:hover {
  border-bottom: solid 2px red;
  -webkit-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 0.6s, 0.5s;
          transition-duration: 0.6s, 0.5s;
}
header .header-content .navbar .header-links .div-link:active {
  border-bottom: solid 2px red;
}
header .header-content .navbar .header-links .div-link-home {
  width: 54px;
  height: 28px;
  margin-right: 7px;
  border-bottom: solid 2px red;
}
header .header-content .navbar .header-links .div-link-home .header-item-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
header .header-content .navbar .header-links .div-link-home .header-item-home .header-link {
  text-decoration: none;
  color: white;
}
header .header-content .navbar .header-links .header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
header .header-content .navbar .header-links .header-item .header-link {
  text-decoration: none;
  color: white;
}
header .header-content .navbar .header-options {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .header-content .navbar .header-options .acc-links {
  margin-right: 29px;
}
header .header-content .navbar .header-options .shop-link {
  text-decoration: none;
  color: white;
  font-family: "Roboto Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
}
header .header-content .navbar .header-options .shop-icon {
  margin-right: 11px;
  width: 20px;
  height: 30px;
}
header .header-content .navbar .header-options .like {
  margin-right: 18px;
  width: 30px;
  height: 28px;
}
header .header-content .navbar .header-options .popup-link {
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

.main {
  font-family: "Oswald", sans-serif;
  width: auto;
}
.main .karusel {
  width: 1878px;
  height: 800px;
  background-image: url(/img/image.png);
  margin-top: 30px;
}
.main .first-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1640px;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .first-page .firstPage-img_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1100px;
}
.main .first-page .firstPage-img_content .firstPage-img01 {
  height: 700px;
  position: relative;
  left: 100px;
}
.main .first-page .firstPage-img_content .firstPage-img02 {
  z-index: 100;
}
.main .first-page .main-h1 {
  width: 540px;
  height: 190px;
  border-top-style: solid;
  border-right-style: solid;
  border-color: black;
  border-width: 2px;
  margin-bottom: 160px;
}
.main .first-page .main-h1 .shop-button {
  width: 175px;
  height: 56px;
}
.main .first-page .main-h1 .h1-content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 0;
  margin-bottom: 40px;
  padding-top: 20px;
  width: 550px;
  height: 340px;
  font-size: 86px;
  line-height: 96px;
  text-transform: uppercase;
}
.main .first-page .main-h1 .h1-content .discount {
  text-decoration: none;
  fill-opacity: 0;
  color: transparent;
  -webkit-text-stroke: 2px #000;
}
.main .first-page .karusel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .first-page .karusel-buttons .karusel-items {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
}
.main .first-page .karusel-buttons .karusel-items .karusel-button {
  width: 25px;
  height: 25px;
}
.main .first-page .karusel-buttons .karusel-items .karusel-button:hover {
  width: 32px;
  height: 32px;
  background-color: black;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.main .brands .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .brands .heading .heading-div {
  width: 370px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: relative;
  top: 22px;
  z-index: 10;
}
.main .brands .heading .heading-div .heading-content {
  margin: 0;
}
.main .brands .brands-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 2px #C4C4C4;
  z-index: -1;
}
.main .brands .brands-content .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 235px;
  height: 141px;
  row-gap: 35px;
}
.main .discount-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.main .discount-info .main__discount-content {
  width: 924px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .discount-info .main__discount-content .top__discount-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(/img/women1.png);
  background-repeat: no-repeat;
}
.main .discount-info .main__discount-content .top__discount-offer .top-offer__info {
  width: 50%;
  margin: 4px;
  margin-bottom: 4px;
  height: 439px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .discount-info .main__discount-content .top__discount-offer .top-offer__info .top__discount-heading {
  width: 221px;
  height: 115px;
  font-size: 48px;
  margin-bottom: 0;
}
.main .discount-info .main__discount-content .top__discount-offer .top-offer__info .top-offer__text {
  width: 340px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 22px;
  font-family: "Roboto Light", sans-serif;
  font-weight: 100;
}
.main .discount-info .main__discount-content .top__discount-offer .top-offer__info .top-offer__btn {
  width: 175px;
  height: 56px;
  margin-top: 50px;
}
.main .discount-info .main__discount-content .top__discount-offer:hover {
  border: 1px solid #C4C4C4;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition: border 0.7s;
  transition: border 0.7s;
}
.main .discount-info .main__discount-content .btm__discount-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 924px;
  height: 434px;
}
.main .discount-info .main__discount-content .btm__discount-offer .btm-offer__info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: -webkit-gradient(linear, left top, right top, from(#F7E0D5), color-stop(83.85%, #F3DCD2), to(rgba(243, 220, 210, 0.14)));
  background: linear-gradient(90deg, #F7E0D5 0%, #F3DCD2 83.85%, rgba(243, 220, 210, 0.14) 100%);
  z-index: 10;
}
.main .discount-info .main__discount-content .btm__discount-offer .btm-offer__info .btm-offer__div {
  width: 360px;
}
.main .discount-info .main__discount-content .btm__discount-offer .btm-offer__info .btm__offer-heading {
  width: 355px;
  font-size: 48px;
}
.main .discount-info .main__discount-content .btm__discount-offer .btm-offer__info .btm-offer__text {
  width: 250px;
  margin-bottom: 0;
  font-family: "Roboto Light", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 168.182% */
  letter-spacing: 0.22px;
}
.main .discount-info .main__discount-content .btm__discount-offer .btm-offer__info .btm-offer__btn {
  width: 175px;
  height: 56px;
  margin-top: 50px;
}
.main .discount-info .main__discount-content .btm__discount-offer .btm-offer__img {
  width: 50%;
  height: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.main .discount-info .special-offer {
  width: 925px;
  height: 900px;
  background-image: url(/img/women3.png);
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 30px;
}
.main .discount-info .special-offer .special-offer_content {
  width: 360px;
  margin-left: 86px;
  margin-bottom: 100px;
}
.main .discount-info .special-offer .special-offer__heading {
  font-size: 96px;
}
.main .discount-info .special-offer .special-offer__text {
  font-family: "Roboto Light", sans-serif;
  font-weight: 100;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 0;
}
.main .discount-info .special-offer .special-offer__btn {
  width: 175px;
  height: 56px;
  margin-top: 60px;
}
.main .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.main .card-list .sidebar {
  width: 415px;
  height: 1300px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #C4C4C4;
}
.main .card-list .sidebar .sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .card-list .sidebar .sidebar-menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.main .card-list .sidebar .sidebar-menu .menu-item .item-text {
  color: #3F3F3F;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 10px;
}
.main .card-list .card-menu .top__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .card-list .card-menu .card {
  width: 345px;
  height: 550px;
  border: none;
  margin-left: 30px;
}
.main .card-list .card-menu .card .info-text {
  color: #BDBDBD;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 14px;
}
.main .card-list .card-menu .card .card-info {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0;
}
.main .card-list .card-menu .card .card-price {
  margin-top: 18px;
}
.main .card-list .card-menu .card .card-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.main .card-list .card-menu .card .card-discount .card-price {
  color: red;
  margin-bottom: 0;
  margin-top: 18px;
}
.main .card-list .card-menu .card .card-discount .text-discount {
  color: #828282;
  font-size: 12px;
  margin-bottom: 2px;
}
.main .card-list .card-menu .bottom__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.main .card-list .card-menu .card-list_btn {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .card-list .card-menu .card-list_btn .LoadMore {
  width: 140px;
  height: 50px;
  border-width: 1px;
  border-color: #828282;
  color: #828282;
}
.main .main-offer {
  background-image: url(/img/main-offerBCK.png);
  height: 467px;
  z-index: 10;
}
.main .main-offer .main-offer__info {
  width: 630px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 270px;
  padding-top: 20px;
}
.main .main-offer .main-offer__info .main-offer__heading {
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
}
.main .main-offer .main-offer__info .main-offer__text {
  font-family: "Roboto Light", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}
.main .main-offer .main-offer__info .main-offer__btn {
  width: 175px;
  height: 56px;
  background-color: transparent;
  margin-top: 30px;
}
.main .main-offer .main-offer-line {
  position: relative;
  top: 70px;
  left: 40px;
}
.main .full-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .full-card__list .top__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.main .full-card__list .top-cards__heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .full-card__list .top-cards__heading-content .top-cards__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.main .full-card__list .btm-cards__heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .full-card__list .btm-cards__heading-content .btm-cards__heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.main .full-card__list .btm-cards__heading-content .btm-cards__btn .karusel-change__btn {
  width: 40px;
  height: 40px;
  border-color: #828282;
}
.main .full-card__list .card {
  width: 354px;
  height: 550px;
  border: none;
  margin-left: 30px;
}
.main .full-card__list .card .info-text {
  color: #BDBDBD;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 14px;
}
.main .full-card__list .card .card-info {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0;
}
.main .full-card__list .card .card-price {
  margin-top: 18px;
}
.main .full-card__list .first-card {
  width: 354px;
  height: 550px;
  border: none;
}
.main .full-card__list .first-card .info-text {
  color: #BDBDBD;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 14px;
}
.main .full-card__list .first-card .card-info {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0;
}
.main .full-card__list .first-card .card-price {
  margin-top: 18px;
}
.main .full-card__list .bottom__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}
.main .second-offer {
  height: 363px;
  margin-top: 120px;
}
.main .second-offer .second-offer__content {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.main .second-offer .second-offer__content .second-offer__img {
  height: 363px;
  width: 1060px;
}
.main .second-offer .second-offer__content .second-offer__info {
  width: 640px;
  padding-top: 25px;
}
.main .second-offer .second-offer__heading {
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
}
.main .second-offer .second-offer__text {
  font-family: "Roboto Light", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}
.main .second-offer .second-offer__btn {
  width: 175px;
  height: 56px;
  background-color: transparent;
  margin-top: 30px;
}
.main .second-offer .second-offer-line {
  position: relative;
  bottom: 290px;
  left: 40px;
}
.main .blog {
  margin-top: 130px;
}
.main .blog .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.main .blog .blog-content .blog-card {
  width: 400px;
  height: 420px;
}
.main .blog .blog-content .blog-card .card-info {
  width: 360px;
  height: 360px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  border-bottom: solid 2px black;
}
.main .blog .blog-content .blog-card .card-info .card-type {
  color: #BDBDBD;
  margin-top: 19px;
}
.main .blog .blog-content .blog-card .card-info .card-heading {
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}
.main .blog .blog-content .blog-card .card-info .card-text {
  width: 330px;
  font-family: "Roboto Light";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 22px;
}
.main .blog .blog-content .blog-card .card-date {
  color: #4F4F4F;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 24px;
}
.main .advantages {
  margin-top: 50px;
}
.main .advantages .advantages-content {
  width: 1515px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
  margin-left: 210px;
}
.main .advantages .advantages-content .advantages-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .advantages .advantages-content .advantages-info .advantages-img {
  width: 30px;
  height: 30px;
}
.main .advantages .advantages-content .advantages-info .advantages-text {
  font-size: 14px;
  width: 190px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
}

.footer {
  height: 527px;
  background-color: #000;
}
.footer .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.footer .join-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}
.footer .join-info .info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  gap: 5px;
}
.footer .join-info .info-links .email {
  width: 280px;
  height: 40px;
  background-color: transparent;
  border: solid 2px white;
  color: #FFF;
  padding-left: 10px;
}
.footer .join-info .info-links .footer-btn {
  height: 40px;
}
.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
}
.footer .footer-content .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-content .footer-info .info-heading {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 40px;
}
.footer .footer-content .footer-info .info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer .footer-content .footer-info .info-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer .footer-content .footer-link {
  color: #828282;
  font-family: "Roboto Medium";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.footer .footer-content p {
  color: white;
  margin-bottom: 0;
}