@font-face {
    font-family: "Oswald";
    font-weight: 600;
    src: url(/font/Oswald.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    width: 1920px;
    height: 115px;
    font-family: "Oswald";
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    background-color: rgb(0, 0, 0); 
    .header-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .logo {
            height: 44px;
            margin-left: 10px;
        }
        .navbar {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .nav-logo {
                display: flex;
                gap: 10px;
                .beta {
                    display: flex;
                    position: relative;
                    bottom: 10px;
                    padding-bottom: 10px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    width: 100px;
                    height: 29px;
                    color: white;
                    padding: 5px;
                    border: 1px #FFF solid;
                    margin-bottom: 0;
                    font-family: "Roboto", sans-serif;
                    cursor: progress;
                }
            }
            .header-links {
                display: flex;
                padding-left: 390px;
                margin: 0;
                .contact {
                    width: 100px;
                    height: 28px;
                    margin-right: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .contact:hover {
                    border-bottom: solid 2px red;
                    transition-property: border-bottom;
                    transition-duration: 0.6s, 0.5s;
                }
                .search {
                    width: 90px;
                    height: 28px;
                    margin-right: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .search-text {
                        padding-right: 10px;
                    }
                }
                .search:hover {
                    border-bottom: solid 2px red;
                    transition-property: border-bottom;
                    transition-duration: 0.6s, 0.5s;
                }
                .div-link {
                    width: 54px;
                    height: 28px;
                    margin-right: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .div-link:hover {
                    border-bottom: solid 2px red;
                    transition-property: border-bottom;
                    transition-duration: 0.6s, 0.5s;
                }
                .div-link:active {
                    border-bottom: solid 2px red;
                }
                .div-link-home {
                    width: 54px;
                    height: 28px;
                    margin-right: 7px;
                    border-bottom: solid 2px red;
                    .header-item-home {
                        display: flex;
                        justify-content: center;
                        list-style: none;
                        .header-link {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
                .header-item {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    .header-link {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .header-options {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: end;
                .acc-links {
                    margin-right: 29px;
                }
                .shop-link {
                    text-decoration: none;
                    color: white;
                    font-family: "Roboto Medium";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0.12px;
                }
                .shop-icon {
                    margin-right: 11px;
                    width: 20px;
                    height: 30px;
                }
                .like {
                    margin-right: 18px;
                    width: 30px;
                    height: 28px;
                }
                .popup-link {
                    text-decoration: none;
                    margin-right: 10px;
                    color: white;
                }
            }
        }    
    }
}
main {
    font-family:  "Oswald", sans-serif;
    .link {
        display: flex;
        height: 36px;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        .link-text {
            color: #828282;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal;
            margin: 0;
        }
    }
    .main-h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 13px;
        height: 90px;
        .h1 {
            font-family: "Oswald", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 68px;
        }
    }
    .registration {
        display: flex;
        justify-content: center;
        .regist-form {
            display: flex;
            width: 610px;
            flex-direction: column;
            gap: 57px;
            .personal-info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .personal-heading {
                    margin: 0;
                    font-family: "Oswald", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 68px;
                }
                .regist-password {
                    display: flex;
                    justify-content: space-between;
                    .password {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 80px;
                        input {
                            width: 443px;
                            height: 44px;
                            padding-left: 16px;
                            color: var(--Black-2, #3F3F3F);
                            font-family: "Roboto", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                        }
                    }
                    p {
                        display: flex;
                        align-items: start;
                        margin: 0;
                        color: #3F3F3F;
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        u {
                            text-decoration: none;
                            padding-left: 10px;
                            color: red;
                        }
                    }
                }
                .name {
                    display: flex;
                    justify-content: space-between;
                    height: 44px;
                    p {
                        display: flex;
                        align-items: start;
                        color: #3F3F3F;
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        u {
                            text-decoration: none;
                            padding-left: 10px;
                            color: red;
                        }
                    }
                    input {
                        width: 443px;
                        padding-left: 16px;
                        color: var(--Black-2, #3F3F3F);
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                    }
                }
                .newstreller-check {
                    display: flex;
                    align-items: center;
                    height: 15px;
                    gap: 10px;
                    p {
                        margin: 0;
                        color: #828282;
                        font-family: "Roboto", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }
            .regist-btn {
                display: flex;
                justify-content: space-between;
                .create-btn {
                    width: 270px;
                    height: 50px;
                    background-color: black;
                    color: white;
                }
                .back-btn {
                    width: 270px;
                    height: 50px;
                    border: 2px solid var(--Divider, #C4C4C4);
                }
            }
        }
    }
    .advantages {
        margin-top: 183px ;
        .advantages-content {
            width: 1515px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 150px;
            margin-left: 210px;
            .advantages-info {
                display: flex;
                height: 30px;
                gap: 15px;
                align-items: center;
                .advantages-img {
                    width: 30px;
                    height: 30px;
                }
                .advantages-text {
                    font-size: 14px;
                    width: 190px;
                    margin-bottom: 0;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
}
.footer {
    height: 527px;
    background-color: #000;
    .contact-links {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .join-info {
        display: flex;
        flex-direction: column;
        width: 280px;
        .info-links {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            gap: 5px;
            .email {
                width: 280px;
                height: 40px;
                background-color: transparent;
                border: solid 2px white;
                color: #FFF;
                padding-left: 10px;
            }
            .footer-btn {
                height: 40px;
            }
        }
    }
    .footer-content {
       display: flex;
       justify-content: space-between;
       padding-top: 65px;
       .footer-info {
        display: flex;
        flex-direction: column;
        .info-heading {
            color: white;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 40px;
        }
        .info-links {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .links {
                display: flex;
                height: 30px;
                align-items: center;
                gap: 10px;
            }
        }
    } 
    .footer-link {
        color:  #828282;
        font-family: "Roboto Medium";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
    }
    p {
        color: white;
        margin-bottom: 0;
    }
    }
}